@model IEnumerable<CrudOperation.Models.ViewModel.CompanyListViewModel>
@{
    ViewData["Title"] = "Company List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h2>Company Info</h2>
    <table>
        <tr>
            <th>Company Name</th>
            <th>Address</th>
            <th>Country</th>
        </tr>
        @foreach (var data in Model)
        {
            <tr>
                <td>@data.CompanyName</td>
                <td>@data.Address</td>
                <td>@data.Country</td>
            </tr>
        }
    </table>
</body>
</html>

